<section id="secondary-features" class="relative overflow-hidden bg-gray-100 py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl md:text-center">
      <h2 class="font-display text-3xl tracking-tight sm:text-4xl text-blue-600 font-semibold">
        {{'BEHIND_TECHNOLOGIES'| translate}}
      </h2>
    </div>
    <div class="lg:mt-20 lg:block">
      <div class="relative mt-20 overflow-hidden rounded-4xl">
        <div class="-mx-5 flex">
          <div class="px-5 transition duration-500 ease-in-out">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-x-8 items-center justify-center">
              <a href="https://www.bnbchain.world/en/smartChain" target="_blank">
                <img src="./assets/svg/bnb_chain.svg" alt="BNB Chain">
              </a>
              <a href="https://nodejs.org/en/" target="_blank">
                <img src="./assets/svg/nodejs.svg" alt="Node.js">
              </a>
              <a href="https://soliditylang.org/" target="_blank">
                <img src="./assets/svg/solidity.png" alt="Solidity">
              </a>
              <a href="https://ethereum.org/" target="_blank">
                <img src="./assets/svg/ethereum.svg" alt="Ethereum">
              </a>
              <a href="https://solana.com" target="_blank">
                <img src="./assets/svg/solana.svg" alt="Solana">
              </a>
              <a href="" target="_blank" class="behind-tecnology">
                <img src="./assets/svg/c--4.svg" alt="Solana">
              </a>
              <a href="https://dotnet.microsoft.com/en-us/" target="_blank" class="behind-tecnology">
                <img src="./assets/svg/dot-net-core-7.svg" alt="Solana">
              </a>
              <a href="https://www.netlify.com/" target="_blank" class="behind-tecnology">
                <img src="./assets/svg/netlify.svg" alt="Solana">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>