<section class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-28">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative py-16">
    <div class="mx-auto max-w-lg text-center">
      <h2 class="font-display text-3xl tracking-tight sm:text-4xl text-blue-600 font-semibold">{{ 'ROADMAP_TITLE' | translate}}</h2>
      <p class="mt-4 text-lg tracking-tight" [translate]="'ROADMAP_ALT'"></p>
    </div>
  </div>
  <ol class="grid grid-cols-1 md:grid-cols-3 gap-x-8">
    <li class="items-center sm:flex my-4" *ngFor="let item of items">
      <div class="relative mb-6 sm:mb-0">
        <div class="mt-3 sm:pr-8">
          <time [translate]="item.date" class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-black-500"></time>
          <p class="mb-2 text-lg font-semibold text-gray-900 dark:text-white" [translate]="item.desc"></p>
          <ul *ngIf="item.childs" class="space-y-1 max-w-md list-inside text-gray-500 dark:text-gray-400">
            <li *ngFor="let child of item.childs" class="flex items-center">
              <svg *ngIf="child.value" class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0"
                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <svg *ngIf="!child.value" class="w-4 h-4 mr-1.5 text-yellow-500 dark:text-yellow-400 flex-shrink-0"
                fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z">
                </path>
              </svg>
              {{child.key | translate}}
            </li>
          </ul>
        </div>
        <div class="flex items-center mt-2">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white text--gradient w-32" [translate]="item.title"></h3>
          <div class="sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
        </div>
      </div>
    </li>
  </ol>

</section>