<header class="py-10">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <nav class="relative z-50 flex justify-between">
      <div class="flex items-center">
        <a aria-label="Home" href="/" class="text-3xl flex items-center">
          <img src="./assets/img/logo-rocket.png" alt="" width="40">
          <span class="text-blue-600  text--gradient">TYKHE.SPACE</span>
        </a>
      </div>
      <div class="flex items-center">
        <div class="hidden md:flex md:gap-x-6">
          <a class="inline-block rounded-lg py-1 px-2 text-sm text-slate-700 hover:bg-slate-100 hover:text-slate-900"
            [routerLink]="menuli.url" *ngFor="let menuli of menuData">{{menuli.name}}</a>
        </div>
      </div>
      <div class="flex items-center gap-x-5 md:gap-x-8">
        <div class="hidden md:block">
          <div class="relative inline-block text-left">
            <div>
              <button (click)="langMenuShowStatus=!langMenuShowStatus" type="button" id="menu-button"
                aria-expanded="true" aria-haspopup="true"
                class="inline-flex w-full justify-center rounded-md bg-white text-sm font-medium text-gray-700">
                <p [innerHTML]="getLangItem(currentLang).icon | trusthtml: 'html'"></p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                  class="w-6 h-6">
                  <path fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
            </div>
            <div *ngIf="langMenuShowStatus" class="absolute z-10" role="menu" aria-orientation="vertical"
              aria-labelledby="menu-button" tabindex="-1">
              <div class="py-1" role="none">

                <div *ngFor="let item of langData">
                  <div class="text-gray-700 block py-2 text-sm" (click)="translateLanguageTo(item.name)"
                    *ngIf="item.name != currentLang" [innerHTML]="getLangItem(item.name).icon | trusthtml: 'html'">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="-mr-1 md:hidden">
          <div>
            <button class="relative z-10 flex h-8 w-8 items-center justify-center " aria-label="Toggle Navigation"
              id="headlessui-popover-button-:R1p6:" type="button" aria-expanded="false"
              (click)="menuShowStatus=!menuShowStatus">
              <svg aria-hidden="true" class="h-3.5 w-3.5 overflow-visible stroke-slate-700" fill="none" stroke-width="2"
                stroke-linecap="round" *ngIf="!menuShowStatus">
                <path d="M0 1H14M0 7H14M0 13H14" class="origin-center transition"></path>
                <path d="M2 2L12 12M12 2L2 12" class="origin-center transition scale-90 opacity-0"></path>
              </svg>
              <svg aria-hidden="true" class="h-3.5 w-3.5 overflow-visible stroke-slate-700" fill="none" stroke-width="2"
                stroke-linecap="round" *ngIf="menuShowStatus">
                <path d="M0 1H14M0 7H14M0 13H14" class="origin-center transition scale-90 opacity-0"></path>
                <path d="M2 2L12 12M12 2L2 12" class="origin-center transition"></path>
              </svg>
            </button>
            <div *ngIf="menuShowStatus">
              <div class="fixed inset-0 bg-slate-300/50 opacity-100" id="headlessui-popover-overlay-:rm:"
                aria-hidden="true" (click)="menuShowStatus=!menuShowStatus"></div>
              <div
                class="absolute inset-x-0 top-full mt-4 flex origin-top flex-col rounded-2xl bg-white p-4 text-lg tracking-tight text-slate-900 shadow-xl ring-1 ring-slate-900/5 opacity-100 scale-100"
                id="headlessui-popover-panel-:R1p6H1:" tabindex="-1">
                <a class="block w-full p-2" [routerLink]="menuli.url"
                  *ngFor="let menuli of menuData">{{menuli.name}}</a>
                <hr class="m-2 border-slate-300/40">
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>